body {
  margin: 0;
  background-color: #000207;
  scroll-behavior: smooth !important;
}
@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Cause", cursive;
}
#root {
  height: 100%;
}
